mat-chip-option {
    padding: 4px 9px !important;
    font-size: 16px;
}

.reload-chip {
    font-size: 28px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 32px;
    overflow: hidden;
}

.card-item {
    margin-bottom: 20px;
    padding: 16px;
    flex: 1 1 calc(25% - 16px);
    min-width: calc(25% - 16px);
    max-width: calc(25% - 16px);
}

.sticky-item{
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px 0px rgba(0, 0, 0, 0.14), 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}


.pagination-center{
    display: flex;
    place-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
}
