<div class="container mx-auto" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap>

    <div fxFlex="50" fxLayout="column" fxLayoutAlign="start start">
        <img alt="A person enjoying cooking" style="object-fit: contain"
             fxFlexFill src="assets/cooking/PNG/DrawKit-cooking-kitchen-food-vector-illustrations-05.png"/>
    </div>

    <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
        <mat-card>
            <mat-card-header>
                <mat-card-title class="mat-h1">Reset your Password</mat-card-title>
                <mat-card-subtitle>Set a new password with the help of your email address</mat-card-subtitle>

            </mat-card-header>
            <mat-card-content>

                <form *ngIf="!passwordResetToken && !emailSuccess" [formGroup]="tokenRequestForm">
                    <mat-form-field>
                        <input formControlName="email" matInput name="email" placeholder="Email" type="email">
                    </mat-form-field>
                    <button (click)="requestToken()" class="btn-block" color="primary" mat-raised-button>Send Reset
                        Email
                    </button>
                </form>
                <form *ngIf="passwordResetToken && !resetSuccess" [formGroup]="passwordResetForm">
                    <mat-form-field>
                        <input formControlName="password" matInput name="password" placeholder="Password"
                               type="password">
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="password-repeat" matInput name="password-repeat" placeholder="Repeat Password"
                               type="password">
                    </mat-form-field>
                    <button (click)="resetPassword()" [disabled]="passwordResetForm.controls['password'].value !== passwordResetForm.controls['password-repeat'].value" class="btn-block"
                            color="primary"
                            mat-raised-button>Reset
                    </button>
                </form>

                <p *ngIf="faulty">An error occurred, please retry later.</p>
                <p *ngIf="emailSuccess">If a user with the provided email address exists, a reset email has been sent to
                    it. Please check your spam directory as well and follow the instructions.</p>
                <p *ngIf="resetSuccess">Your password reset was successful, please login in now.</p>

                <button color="primary" mat-button routerLink="/login">Back to Login</button>

            </mat-card-content>
        </mat-card>
    </div>
</div>
