<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Error</strong> {{ errorMessage }}
    <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Create league</mat-card-title>
        </mat-card-header>
        <form class="example-form" [formGroup]="registerForm">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <mat-label>Select your Gamemode</mat-label>
                    <mat-select name="gamemode" formControlName="gamemode">
                        <mat-option [value]="mode" *ngFor="let mode of gameModeKeys(gamemodes)">{{mode}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input formControlName="challengeDuration" name="challengeDuration" matInput placeholder=0>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Select your region</mat-label>
                    <mat-select name="region" formControlName="region">
                        <mat-option [value]="region" *ngFor="let region of regionKeys(regions)">{{region}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" (click)="createLeague()" class="btn-block">Create</button>
        </form>
    </mat-card>
</div>
