.card-item {
    margin-bottom: 20px;
    padding: 16px;
}

.span-content-league{
    display: block;
}

.card-content-league {
    margin-bottom: 8px;
    margin-top: 8px;
}

.card-content-league-image-container {
    width: 450px;
    text-align: center;
}

.card-content-league-image {
    max-width: 100%;
    height: auto;
}

// overlay container center field
#upvoting-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.card-item-top {
    flex-basis: 50%;
    margin-bottom: 20px;
    padding: 16px;
}

#row-top{
}
