


<div class="container page-container mx-auto"
     fxLayout="column"  fxLayoutGap="16px">
    <div fxFlexFill fxFlex="100" fxLayout="column" fxLayoutAlign="start start" >

    <h1 class="mat-headline-2">Challenge</h1>
        <h2 class="mat-display-1" style="font-weight: 400;">
            Ready to unleash your inner chef? Take the challenge and start cooking!
        </h2>

        <div fxFlexFill fxFlex="100" fxLayout="column" fxLayoutAlign="start start" >
            <div fxLayout="row" fxLayoutGap="16px" class="card-container" id="row-top">

                <!-- upload submission todo -->
                <mat-card class="card-item">
                    <mat-card-header>
                        <mat-card-title>{{ challenge?.name }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content-league">
                        <span class="span-content-league">{{ challenge?.description }}</span> <br/>
                        <span><b>{{this.countdownString}}</b> left to upload!</span>
                    </mat-card-content>
                </mat-card>
                <mat-card class="card-item" style="flex: none">
                    <mat-card-header>
                        <mat-card-title>Submit your result</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content-league">
                        <!-- todo disable if already submitted -->
                        <div class="span-content-league">Upload your creation
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <!--                    <input type="file" mat-raised-button color="primary" class="btn-block" id="customFileInput" (change)="onImageChangeNOCOMPRESSION($event)"-->
                        <!--                           accept="image/*">-->
                        <button type="button" mat-raised-button color="primary" class="btn-block" (click)="fileInput.click()">Choose File</button>
                        <input hidden (change)="onImageChangeNOCOMPRESSION($event)" #fileInput type="file" id="file">
                    </mat-card-actions>

                    <mat-card-actions *ngIf="this.submission.image">
                        <button type="button" mat-raised-button color="primary" class="btn-block" (click)="this.submit()">Submit {{this.submission.image.name}}</button>
                    </mat-card-actions>
                </mat-card>




                <!-- vote submissions todo: ngIf challenge ended? if submissions[] not empty?-->

                <mat-card class="card-item" *ngIf="canUpvote">
                    <mat-card-header>
                        <mat-card-title>Rate Your Friends</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content-league">
                        <div class="span-content-league">Guess what? The submissions from the challenge are in and you can now judge and upvote your friends' submission.
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button (click)="switchUpvotingContainer()" mat-raised-button color="primary" class="btn-block">Rate Submissions</button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div fxLayout="row" fxLayoutGap="16px" class="card-container">
                <mat-card class="card-item-top">   <!-- todo do not display when game mode ingredients -->
                    <mat-card-header>
                        <mat-card-title>The final product</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content-league">
                        <!-- todo use recipe pic -->
                        <img style="max-width: 100%;" src="https://www.dish-works.com/wp-content/uploads/Hatch-Chile-Chilaquiles_shot-1.jpg" />
                    </mat-card-content>
                </mat-card>
                <mat-card class="card-item-top">  <!-- todo do not display when game mode picture -->
                    <mat-card-header>
                        <mat-card-title>The ingredients</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="card-content-league">
                        <span class="span-content-league">
                            <div *ngFor="let ingridient of challenge?.ingredients">{{ingridient?.name}}</div>
                        </span>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>
    </div>
</div>


<!-- swipe card for upvoting -->
<div id="upvoting-container" *ngIf="upvotingEnabled" fxFlexFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <div fxFlexFill fxFlex="100" fxLayout="column" fxLayoutAlign="center center" >
        <div fxLayout="row" fxLayoutGap="16px" class="card-container"
             [@cardAnimator]="cardState"
             (@cardAnimator.done)="resetAnimationState($event)"
             (swipeleft)='onSwipeLeft()'
             (swiperight)='onSwipeRight()'>
            <mat-card class="card-item">
                <mat-card-header>
                    <!-- todo display name of challenge if submissions from another challenge are displayed (decision to be made), call backend with challenge id from submissiondtp -->
                </mat-card-header>
                <mat-card-content class="card-content-league">
                    <!--<img style="max-height: 400px" src="https://ais.kochbar.de/kbrezept/461657_654395/1200x1200/gekochtes-rindfleisch-mit-roestkartoffeln-und-semmelkren-rezept.jpg"> -->
                    <img style="max-height: 400px" src="{{currentPicture}}" />
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div fxFlexFill fxFlex="100"  fxLayoutGap="16px" fxLayout="row" fxLayoutAlign="center center" >
        <button (click)="onSwipeLeft()" color="primary" mat-fab  aria-label="like">
            <mat-icon>close</mat-icon>
        </button>
        <button (click)="onSwipeRight()" color="primary" mat-fab  aria-label="like">
            <mat-icon>favorite</mat-icon>
        </button>
    </div>
    <button (click)="switchUpvotingContainer()" style="margin-left: 12px;" mat-button  color="secondary" class="btn-block">Cancel</button>
</div>
</div>
