<mat-toolbar *ngIf="loggedin()" class="custom-header" color="primary">
    <mat-toolbar-row>
        <span>beMeal</span>
        <span class="spacer"></span>
        <span class="nav-buttons">
            <button routerLink="search" mat-button><mat-icon>search</mat-icon></button>
            <button routerLink="leagues" mat-button>Leagues</button>
            <button *ngIf="viewAnalytics" routerLink="analytics" mat-button>Analytics</button>
            <button routerLink="meals" mat-button>Meals</button>
            <button routerLink="suggestions" mat-button>Suggestions</button>
            <button routerLink="profile" mat-button>Profile</button>
            <button (click)="logout()" mat-button>Logout</button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
