.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 32px;
}

.card-item {
    flex-basis: 23%;
    margin-bottom: 20px;
    padding: 16px;
}

.span-content-league{
    display: block;
}

.card-content-league {
    margin-bottom: 8px;
    margin-top: 8px;
}
