

<div class="container page-container mx-auto" style="max-width: 1400px" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap>
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="center start"   >
        <h1 class="mat-headline-2">Welcome to beMeal.</h1>
        <h2 class="mat-display-1">Get ready to take your culinary skills to the next level. Join our leagues, challenge your friends, and compete to be crowned the ultimate master chef. Whether you're a seasoned pro or just starting out, showcase your talent and connect with fellow foodies.</h2>
        <button mat-raised-button color="primary" routerLink="/login">Get Started</button>
    </div>
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center"  >
        <img src="assets/cooking/PNG/DrawKit-cooking-kitchen-food-vector-illustrations-02.png" alt="A person enjoying cooking" fxFlexFill/>
    </div>
</div>
