<mat-card  class="card-item" fxLayout="column"  fxFlexFill>
    <mat-card-header >
        <mat-card-title>Display & Filters</mat-card-title>
    </mat-card-header>
    <mat-card-content fxFlex fxFlexFill fxLayoutGap="48px" class="flexy-out" style="display: flex; padding-top: 16px">
        <div class="flexy">
            <mat-form-field>
                <mat-label>Statistics Type</mat-label>
                <mat-select [(ngModel)]="heatMapType" (ngModelChange)="refreshHeatmap()">
                    <mat-option *ngFor="let t of listedHeatMapTypes" [value]="t">
                        {{heatMapTypeToString(t)}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flexy-con-label">
            <label id="granularity" >Granularity:</label>
            <mat-radio-group
                (change)="refreshHeatmap()"
                [(ngModel)]="granularity" aria-labelledby="granularity">
                <mat-radio-button *ngFor="let g of granularities" [value]="g">
                    {{g.name}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="flexy-con-label">
            <label id="relative">Comparison:</label>
            <mat-radio-group
                (change)="refreshHeatmap()"
                [(ngModel)]="relative" aria-labelledby="relative">
                <mat-radio-button [value]="false">Absolute</mat-radio-button>
                <mat-radio-button [value]="true">Relative by User Base</mat-radio-button>
            </mat-radio-group>
        </div>

    </mat-card-content>
    <mat-card-actions style="margin-left: 8px; margin-bottom: 8px;">
        <button fxLayout="row" style="margin-right: 8px; " (click)="showMapView()" mat-raised-button  color="primary" >Map View</button>
        <button fxLayout="row" (click)="showListView()" mat-raised-button  color="primary" >List View</button>
    </mat-card-actions>
</mat-card>


<div id="heatmap-cont" style="display: none" class="ana-output-cont" >
    <mat-card class="card-item" style="padding: 16px">
        <div #heatMapContainer></div>
    </mat-card>

</div>

<div id="topfive-cont" style="display: none"  class="ana-output-cont">
    <mat-card class="card-item" style="padding: 16px">

    <div  #topFiveContainer></div>
    </mat-card>


</div>
