/* You can add global styles to this file, and also import other style files */



html,
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
//
//.mat-expansion-panel-header {
//    background: #23292a;
//    color: #ffffff;
//}
//.mat-expansion-panel-body {
//    background: #23292a;
//}

.fab-button {
    position: fixed;
    bottom: 30px;
    right: 50px;
}

#myActionButton {
    position: fixed;
    bottom: 100px;
    right: 100px;
}

#myActionButton2 {
    position: fixed;
    bottom: 150px;
    right: 100px;
}

.container {
    max-width: 1400px;
    width: 100%;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
}

.app-header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}


/* dark mode styles */

/* light grey bg */
body.dark-mode,
body.dark-mode .mat-mdc-text-field-wrapper,
body.dark-mode .mat-mdc-table,
body.dark-mode .mdc-data-table__header-cell,
body.dark-mode .mdc-data-table__cell,
body.dark-mode .mdc-menu-surface,
body.dark-mode .mdc-floating-label,
body.dark-mode .mdc-text-field,
body.dark-mode .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label,
body.dark-mode .mat-mdc-text-field-wrapper .mat-mdc-form-field-infix .mat-mdc-floating-label,
body.dark-mode .mat-mdc-floating-label,
body.dark-mode .mdc-text-field__input,
body.dark-mode .mdc-list-item__primary-text,
body.dark-mode .mat-mdc-select-value-text{
    background-color: #2d3436 !important;
    color: #dfe6e9 !important;
}

/* autofill input fields should not have white bg */
body.dark-mode input:-webkit-autofill{
    -webkit-text-fill-color: #dfe6e9  !important;
    color: transparent;
    background: transparent;
    -webkit-background-clip: text;
}

/* darker */
body.dark-mode .mat-expansion-panel,
body.dark-mode .mat-expansion-panel-header,
body.dark-mode .mat-panel-title,
body.dark-mode .mat-panel-description,
body.dark-mode .card-item,
body.dark-mode .mat-mdc-card,
body.dark-mode .mat-mdc-card-title,
body.dark-mode .mat-mdc-card-subtitle{
    background: #23292a;
    color: #dfe6e9;
}

body:not(.dark-mode-preloading) {
    transition: all 0.3s linear;
}

body.dark-mode .leaderboard-highlight-user{
    background: #f0bb28 !important;
    color: black !important;
}

body.dark-mode .ngx-pagination a {
    color: #dfe6e9 !important;
}
body.dark-mode .ngx-pagination a:hover {
    color: black !important;
}

body.dark-mode .sticky-item{
    background-color: #2d3436 !important;
    color: #dfe6e9 !important;
}

body .sticky-item{
    background: white;
}

// pagination

.ngx-pagination .current {
    background-color: #f0bb28 !important;
    border-color: #f0bb28 !important;
}

