/* You can add global styles to this file, and also import other style files */



html,
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100vh;
    margin: 0;
    background: #F7F3EF;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1400px;
    width: 100%;
}


