@use '@angular/material' as mat;
@include mat.core();
/*
// tested, working: change typography styles here

$my-typography: mat.define-typography-config(
    $headline-1: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
    $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
    $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
    $headline-4: mat.define-typography-level(34px, 40px, 400),
    $headline-5: mat.define-typography-level(24px, 32px, 400)
);

@include mat.typography-hierarchy($my-typography);

*/
